<div class="row">
  <div class="container col-6 px-5">
    <div class="my-4"><h3>Log in</h3></div>
    <hr />
    <div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            placeholder="Email"
            formControlName="email"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            placeholder="password"
            id="password"
            formControlName="password"
            required
          />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-info my-3">Login</button>
        </div>
      </form>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="authService.invaildTry">
      Invaild Email or Password
    </div>
  </div>
</div>
