<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="/assets/images/icon.png"
      width="40"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Restuarant
  </a>

  <!-- logged in user -->
  <div
    class="collapse navbar-collapse d-flex flex-row-reverse mr-2"
    *ngIf="authService.isLoggedIn | async as isLoggedIn; else other_content"
  >
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home">Home</a>

      <!-- admin -->
      <a
        class="nav-item nav-link"
        *ngIf="authService.role === ADMIN"
        routerLink="/admin"
        >Profile</a
      >
      <a
        class="nav-item nav-link"
        *ngIf="authService.isAdmin === 'ADMIN'"
        routerLink="/admin"
        >Profile</a
      >
      <a
        class="nav-item nav-link"
        *ngIf="authService.isAdmin === 'ADMIN'"
        routerLink="/admin-books"
        >Books</a
      >
      <!-- regular user -->
      <a
        class="nav-item nav-link"
        *ngIf="authService.isAdmin === 'USER'"
        routerLink="/user"
        >Book Table</a
      >
      <a
        class="nav-item nav-link"
        *ngIf="authService.isAdmin === 'USER'"
        routerLink="/available"
        >Availabe tables</a
      >

      <a class="nav-item nav-link" (click)="onLogout()">Logout</a>
    </div>
  </div>

  <!-- user not logged in -->
  <ng-template #other_content>
    <div class="collapse navbar-collapse d-flex flex-row-reverse mr-2">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home">Home</a>
        <a class="nav-item nav-link" routerLink="/sign-in">Login</a>
        <a class="nav-item nav-link" routerLink="/sign-up">SignUp</a>
      </div>
    </div>
  </ng-template>
</nav>

<router-outlet></router-outlet>
